.container {
    padding-top: 2rem;
    width: 100%;
    height         : 100%;
    background     : var(--verde-2);
    align-items    : center;
    justify-content: center;
    position: relative;
}

.form {
    margin: 8rem auto 2rem auto;
    width           : 20%;
    height          : fit-content;
    background-color: white;
    padding         : 2rem 1rem;
    border-radius   : 1rem;
    border-style: solid;
    border-width: 7px;
    border-color: var(--verde-4);
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

h4 {
    font-family: 'The Nautigal', cursive;
    font-size: large;
}

img {
    /* height: 25%; */
    width: 100%;
    /* margin-left: auto; */
    /* padding-bottom: 2rem; */
    /* padding-top: 1rem; */
}

.full-width {
    width: 100%;
}

.botao-salvar {
    width: 100%;
    color: white !important;
    background-color: var(--verde-2);
    font-size: 1.2rem;
}

.button:hover {
    transform: translateY(-5px)
}

.centralizado {
    /* margin-top: 1rem; */
    text-align: center;
}

mat-icon {
    opacity: .6;
}

.linkAPI {
    text-decoration: solid;
    font-family: none;
}

.exemplo {
    display: inline;
    float: left;
    justify-content: left;
}

.sign {
    width: 100%;
    position: absolute;
    bottom: 0%;
    text-align: center;
    padding-bottom: 1rem;
    opacity: 60%;
}

.sign a {
    text-decoration: none;
    color: white;
}