.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-2);
}

h1 {
    font-family  : 'Dancing Script', cursive;
    font-size    : 4.5rem;
    font-style   : normal;
    margin-top   : 12px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size  : 1.5rem;
    font-style : bold;
    margin-top : 15px;
}

mat-card-header {
    color: white;
    margin-top: 3rem;
    text-align: center;
}

.menu-card-content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.menu-button{
    margin-right: 7.2rem;
    font-size: 16px;
    font-weight: 500;
}

.menu-button a {
    color: white;
    text-decoration: none;
}

.menu-button i {
    margin-right: .1rem;
}

