.container {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--verde-2);
    align-items: center;
    justify-content: center;
    position: fixed;
}

.form {
    margin: 8rem auto 2rem auto;
    width           : 20%;
    height          : fit-content;
    background-color: white;
    padding         : 2rem 1rem;
    border-radius   : 1rem;
    border-style: solid;
    border-width: 7px;
    border-color: var(--verde-4);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-card {
    width: 100%;
    justify-content: center;
    margin: auto auto 3rem auto;;
}

#fullwidth {
    width: max-content;
}

.botao-salvar {
    width: 100%;
    color: white !important;
    background-color: var(--verde-2);
    font-size: 1.2rem;
}

.button:hover {
    transform: translateY(-5px)
}

.centralizado {
    /* margin-top: 1rem; */
    text-align: center;
}

mat-card-content {
    margin-top: 1rem;
    text-align: center;
}

.sign {
    width: 100%;
    position: fixed;
    bottom: 0%;
    text-align: center;
    padding-bottom: 1rem;
    opacity: 60%;
}

.sign a {
    text-decoration: none;
    color: white;
}

h4 {
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin-top: 15px;
}

.descricao-univesp {
    color: white;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 960px) {
    mat-card {
        width: 95%;
    }

    body {
        grid-auto-flow: initial;
        display: grid;
        /* grid-template-columns: 310px 310px 310px; */
        grid-gap: 20px;
    }

    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    h3 {
        font-family: 'Dancing Script', cursive;
        font-size: 1rem;
        margin-top: 15px;
    }


    .align {
        display: block;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        /* padding          : 2px 10px; */
        text-align: center;
        height: 70%;
        width: 95%;

    }

    /* img {
    width: 90%;
    padding: 1px;
    
} */
    img:hover {
        transform: translateY(7px);
        transition: all 250ms linear 0s;
        opacity: 0.75;
        cursor: pointer;

    }

    img:active {
        background-color: black;


    }

    .fotosHome #grid {
        width: 100%;
        max-width: 800px;
    }

    mat-card-content {
        margin-top: 1rem;
        text-align: center;
    }

    .sign {

        text-align: center;
        margin: 0;
        margin-top: 1rem;
        padding-bottom: 1rem;
        opacity: 60%;
    }

    .sign a {
        text-decoration: none;
        color: white;
    }

    #grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 2px;
    }

}