<hr>
<div class="container">
    <form action="" class="form">
        <h1 class="fullwidth">Cadastrar Clínica</h1>
        <!-- <img class="fullwidth" src="assets/img/faders.png" alt="image-create"> -->
        <div class=" display-flex fullwidth">
            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select multiple [(ngModel)]="clinica.categorias" name="categoria" [formControl]="categoria" required>
                    <mat-option value="0">CARDIOLOGISTA</mat-option>
                    <mat-option value="1">CLINICO</mat-option>
                    <mat-option value="2">DERMATOLOGISTA</mat-option>
                    <mat-option value="3">GERIATRA</mat-option>
                    <mat-option value="4">GINECOLOGISTA</mat-option>
                    <mat-option value="5">OFTALMOLOGISTA</mat-option>
                    <mat-option value="6">PEDIATRA</mat-option>
                    <mat-option value="7">PSIQUIATRA</mat-option>
                    <mat-option value="8">OTORRINOLARINGOLOGISTA</mat-option>
                    <mat-option value="9">ONCOLOGISTA</mat-option>
                    <mat-option value="10">ORTOPEDISTA</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Administrador</mat-label>
                <input matInput [disabled]="true" [(ngModel)]="clinica.nomeAdmin" name="nomeAdmin" matInput>
            </mat-form-field>
        </div>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Admin ID </mat-label>
            <input matInput [disabled]="true" [(ngModel)]="clinica.admin" name="admin"  matInput>
          </mat-form-field> -->

        <p>
            <mat-form-field class="fullwidth" appearance="legacy">
                <mat-label>Nome Comercial:</mat-label>
                <input [(ngModel)]="clinica.nmNegocio" name="nmNegocio" [formControl]="nmNegocio" required matInput
                       placeholder="MothaFucka Barber Club..." maxlength="70">
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="fullwidth" appearance="legacy">
                <mat-label>CPF/CNPJ:</mat-label>
                <input [(ngModel)]="clinica.nrInsc" name="nrInsc" [formControl]="nrInsc" required matInput
                       placeholder="123.456.789-10" mask="000.000.000.00">
                <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="fullwidth" appearance="legacy">
                <mat-label>Telefone:</mat-label>
                <input [(ngModel)]="clinica.telefone" name="telefone" [formControl]="telefone" required matInput
                       placeholder="00 00000-0000" mask="00 00000-0000">
                <mat-icon matSuffix>support_agent</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="fullwidth" appearance="legacy">
                <mat-label>E-mail:</mat-label>
                <input [(ngModel)]="clinica.email" name="email" [formControl]="email" required matInput
                       placeholder="fulano@email.com">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <button (click)="create()" [disabled]="!validaCampos()" class="fullwidth botao-cadastrar" mat-elevation-z4 mat-flat-button>Cadastrar
            </button>

            <button [routerLink]="['../']" routerLinkActive="router-link-active" class="fullwidth botao-voltar" mat-elevation-z4
                    mat-stroked-button>Cancelar
            </button>
        </p>
    </form>

    <p class="fullwidth sign"><a href="https://github.com/TonnyJames" target="_blank">Desenvolvido por: Tonny Reis</a>
    </p>
</div>