<hr>
<div class="container">
    <form action="" class="form">
        <h1 class="fullwidth letra-branca">Detalhes da Clínica</h1>
        <!-- <img class="fullwidth" src="assets/img/faders.png" alt="image-create"> -->

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Categoria:</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.categorias" name="categoria" matInput>
            <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Nome:</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.nmNegocio" name="nmNegocio" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Nº Inscrição:</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.nrInsc" name="nrInsc" matInput>
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Telefone:</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.telefone" name="telefone" matInput>
            <mat-icon matSuffix>phone_in_talk</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Email:</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.email" name="email" matInput>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="outline">
            <mat-label>Data de Inscrição</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.dataCriacao" name="dataAgendada" matInput>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="outline">
            <mat-label>Responsável</mat-label>
            <input [disabled]="true" [(ngModel)]="clinica.nomeAdmin" name="nomeAdmin" matInput>
        </mat-form-field>
        <button mat-stroked-button routerLink="../../../agendamentos/create/{{clinica.id}}" class="fullwidth botao-novo-agendamento"
                mat-elevation-z4 mat-flat-button>Novo Agendamento
        </button>

        <button [routerLink]="['../../']" class="fullwidth botao-voltar" mat-elevation-z4
                mat-stroked-button>Voltar
        </button>
    </form>

    <p class="fullwidth sign"><a href="https://github.com/TonnyJames" target="_blank">Desenvolvido por: Tonny Reis</a>
    </p>
</div>

