/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root{
--azul-1: #034159;
--verde-0: #02735E;
--verde-1: #038C4C;
--verde-2: #05A65B;
--verde-3: #78BF9E;
--verde-4: #BBD94E;
--cinza-1: #F2F2F2
}
